<div class="container-fluid">
  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-repeat="tab in tabs">
      <a id="tab{{tab.id}}" href="#main{{tab.id}}" aria-controls="{{tab.name}}" role="tab" data-toggle="tab">
      {{tab.name}}
      <i class="close-tab glyphicon glyphicon-remove"></i>
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="main{{tab.id}}" ng-repeat="tab in tabs">
      {{tab.content}}
      <button role="button" type="button" ng-click="addTab()">添加</button>
      <button role="button" type="button" ng-click="removeTab(tab.id)">移除</button>
    </div>
  </div>

</div>