<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin - Bootstrap Admin Template</title>
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    <div id="wrapper">
        <div ui-view></div>
    </div>
    <script data-main="main" src="assets/requirejs/require.js"></script>
</body>

</html>
