<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li ng-repeat="data in datas">
            <a ng-if="data.leaf" href="{{data.href}}"><i class="fa fa-fw {{data.icon}}"></i>{{data.name}}</a>
            <a ng-if="!data.leaf" href="javascript:;" data-toggle="collapse" data-target="#{{data.id}}"><i class="fa fa-fw {{data.icon}}"></i> {{data.name}} <i class="fa fa-fw fa-caret-down"></i></a>
            <ul ng-if="!data.leaf" id="{{data.id}}" class="collapse">
                <li ng-repeat="child in data.children">
                    <a href="{{child.href}}"><i class="fa fa-fw {{child.icon}}"></i>{{child.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
