<!-- message -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages">
        <li ng-repeat="message in data.messages">
            <a href="#" ui-sref="message({name:message.title})">
                <div>
                    <strong>{{message.title}}</strong>
                    <span class="pull-right text-muted"><em>{{message.time}}</em></span>
                </div>
                <div>{{message.content}}</div>
            </a>
            <div class="divider"></div>
        </li>
        <!-- all -->
        <li>
            <a class="text-center" href="#">
                <strong>Read All Messages</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</li>
<!-- ./message -->
<!-- task -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-tasks">
        <li ng-repeat="task in data.tasks">
            <a href="#" ui-sref="task({name:task.title})">
                <div>
                    <p>
                        <strong>{{task.title}}</strong>
                        <span class="pull-right text-muted">{{task.content}}</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar {{task.class}}" role="progressbar" aria-valuenow="{{task.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{task.value}}%">
                            <span class="sr-only">{{task.content}}({{task.class}})</span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="divider"></div>
        </li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Tasks</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</li>
<!-- ./task -->
<!-- alert -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <li ng-repeat="alert in data.alerts">
            <a href="#" ui-sref="alert({name:alert.title})">
                <div>
                    <i class="fa fa-fw {{alert.class}}"></i> {{alert.title}}
                    <span class="pull-right text-muted small">{{alert.time}}</span>
                </div>
            </a>
            <div class="divider"></div>
        </li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</li>
<!-- ./alert -->
<!-- user -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>
</li>
<!-- ./user -->
